 .u-section-1 {
  min-height: 1366px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 663px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-1 .u-text-1 {
  margin: -579px calc(((100% - 1140px) / 2) + 414px) 0 calc(((100% - 1140px) / 2) + 558px);
}

.u-section-1 .u-text-2 {
  font-family: Asap;
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: -2px 2px 22px rgba(246,219,0,1);
  margin: 1px calc(((100% - 1140px) / 2) + 126px) 0 calc(((100% - 1140px) / 2) + 558px);
}

.u-section-1 .u-text-3 {
  margin: -1px calc(((100% - 1140px) / 2) + 318px) 0 calc(((100% - 1140px) / 2) + 558px);
}

.u-section-1 .u-list-1 {
  width: 223px;
  margin: 186px calc(((100% - 1140px) / 2) + 359px) 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 95px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 18px 56px 18px 54px;
}

.u-section-1 .u-image-2 {
  height: 614px;
  object-position: 50% 0%;
  margin-top: 204px;
  margin-bottom: 0;
}

.u-section-1 .u-countdown-1 {
  margin: -1071px calc(((100% - 1140px) / 2) + 95px) 60px auto;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 196%;
  left: -48%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1405px;
  }

  .u-section-1 .u-image-1 {
    width: 446px;
    height: 631px;
    margin-left: calc(((100% - 940px) / 2) + 24px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -549px;
    margin-right: calc(((100% - 940px) / 2) + 276px);
    margin-left: calc(((100% - 940px) / 2) + 496px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 50px);
    margin-left: calc(((100% - 940px) / 2) + 496px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 180px);
    margin-left: calc(((100% - 940px) / 2) + 496px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 170px;
    margin-right: calc(((100% - 940px) / 2) + 221px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 670px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -1112px;
    margin-right: calc(((100% - 940px) / 2) + 22px);
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 282%;
    left: -91%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1296px;
  }

  .u-section-1 .u-image-1 {
    width: 346px;
    height: 489px;
    margin-top: 30px;
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -405px;
    margin-right: calc(((100% - 720px) / 2) + 163px);
    margin-left: calc(((100% - 720px) / 2) + 389px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: calc(((100% - 720px) / 2) + 44px);
    margin-left: calc(((100% - 720px) / 2) + 392px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 64px);
    margin-left: calc(((100% - 720px) / 2) + 392px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 81px;
    margin-right: calc(((100% - 720px) / 2) + 108px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-image-2 {
    margin-top: 182px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -767px;
    margin-right: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 252%;
    left: -76%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 285px;
    height: 418px;
    margin-left: calc(((100% - 540px) / 2) + -22px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 90px);
    margin-left: calc(((100% - 540px) / 2) + 282px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 540px) / 2) + 50px);
    margin-left: calc(((100% - 540px) / 2) + 282px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + -12px);
    margin-left: calc(((100% - 540px) / 2) + 288px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 171px;
    margin-right: calc(((100% - 540px) / 2) + 35px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -768px;
    margin-right: calc(((100% - 540px) / 2) + 47px);
  }

  .u-section-1 .embed-responsive-1 {
    width: 257%;
    left: -79%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1223px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-right: calc(((100% - 340px) / 2) + 172px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: calc(((100% - 340px) / 2) + 57px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 12px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: 135px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    margin-top: 160px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -1022px;
    margin-right: auto;
    padding: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 474%;
    left: -187%;
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/36040278/5701978/images/370596481_287171757282456_6915554421738386103_n.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 597px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 78.03% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 86.83% 28.78%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 174px;
  }
}